# Build nonsense
build

# Mac nonsense
.DS_Store

# Node nonsense
node_modules

# Yarn nonsense
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
# Local Netlify folder
.netlify
